<div class="wrapper">
  <div class="sidebar" data-color="green" data-image="">
    <sidebar></sidebar>
    <div class="sidebar-background"></div>
  </div>

  <div class="main-panel">
    <navigation></navigation>
    <router-outlet></router-outlet>
  </div>
</div>



