<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form action="">
        <h3 class="text-center">Login to PM Reports</h3>
        <hr>
        <div class="form-group"><input type="text" class="form-control"></div>
        <div class="form-group"><input type="text" class="form-control"></div>
        <button class="btn btn-success col-md-12" type="submit">Login</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
