<div class="sidebar-wrapper">
  <div class="logo">
    <a href="" class="simple-text">
      <div class="logo-img">
        <img src="../../../assets/img/angular2-logo-white.png"/>
      </div>
      PM Reports
    </a>
  </div>
  <ul class="nav">
    <li routerLinkActive="active">
      <a  routerLink="dashboard">
        <i class="pe-7s-graph"></i>
        <p>Dashboard</p></a>
    </li>
    <li routerLinkActive="active">
      <a  routerLink="branches">
        <i class="pe-7s-map-marker"></i>
        <p>Branches</p></a>
    </li>

    <li routerLinkActive="active">
      <a  routerLink="notifications">
        <i class="pe-7s-chat"></i>
        <p>Notifications</p></a>
    </li>

    <li routerLinkActive="active">
      <a  routerLink="settings">
        <i class="pe-7s-settings"></i>
        <p>Settings</p></a>
    </li>ls



  </ul>
</div>
